/*
COLOR PALETTE

Dark green    #3c8453
Sandy beige   #bcaa96
Dark gray     #222222
Light gray    #d3d4d6
Off-white     #f6f6f6
*/
/*Custom Properties*/
:root {
  /*Base neutral color*/
  --color-neutral: oklch(85% 0.01 240); /*Light gray base*/

  /*9 shades using relative color*/
  --color-neutral-100: oklch(from var(--color-neutral) 98% c h);
  --color-neutral-200: oklch(from var(--color-neutral) 95% c h);
  --color-neutral-300: oklch(from var(--color-neutral) 90% c h);
  --color-neutral-400: oklch(from var(--color-neutral) 85% c h);
  --color-neutral-500: oklch(from var(--color-neutral) 70% c h);
  --color-neutral-600: oklch(from var(--color-neutral) 55% c h);
  --color-neutral-700: oklch(from var(--color-neutral) 40% c h);
  --color-neutral-800: oklch(from var(--color-neutral) 25% c h);
  --color-neutral-900: oklch(from var(--color-neutral) 12% c h);

  /* Accent colors */
  --color-green: oklch(55.37% 0.1053 151.92);
  --color-beige: oklch(74.8% 0.0349 70.19);
}
/*Custom Properties-Typography*/
:root {
  --font-body: "Open Sans", sans-serif;
  --font-heading: "Caveat", Cursive;
}

/* GLOBAL STYLES - MOBILE FIRST (0-34.313 rem)
------------------------------------*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  block-size: 100%;
}
/*Mobile first body styles*/
body {
  background: var(--color-neutral-100);
  margin: 0;
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.5rem;
}
/*Mobile first heading styles*/
h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 400;
  margin: 0;
}

/*mobile first headings*/
h1 {
  font-size: 1.8rem;
  line-height: 1.1;
  font-weight: 700;
}
h2 {
  font-size: 1.5rem;
  line-height: 1.3;
  color: var(--color-green);
}
h3 {
  font-size: 1.5rem;
  line-height: 1.2;
}

/* links */
a {
  color: var(--color-green);
}

a:hover {
  color: var(--color-beige);
  text-decoration: none;
}
footer a {
  color: var(--color-beige);
}
footer a:hover {
  color: var(--color-green);
}

.btn {
  background: var(--color-green);
  color: var(--color-neutral-100);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: inline-block;
  padding: 0.38rem;
  letter-spacing: 0.1em;
  line-height: 1;
  border-radius: 5px;
}

/*Mobile first content wrapper*/
.content-wrapper {
  margin-inline: auto;
  padding: 0.625rem;
  max-inline-size: 56.25rem;
}

/* HOME mobile first
------------------------------------*/
.home {
  background: url(../images/bg-home-office-studio.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.home .content-wrapper {
  flex: 1 0 auto;
  padding: 0.625rem; /*mobile padding*/
}
.content-bg {
  background: oklch(from var(--color-neutral-100) l c h / 0.9);
  padding: 1.25rem; /*mobile padding*/
}

/* RESUME
------------------------------------*/
.resume header::before {
  background: url(../images/bg-home-office-studio.jpg) center;
  background-size: cover;
  content: "";
  display: block;
  block-size: 12.5rem; /*mobile height*/
  /*block-size: 24.438rem;*/
}
.resume-section {
  margin-block-end: 3.125rem;
}
.resume-section h2 {
  border-block-end: 2px dashed var(--color-neutral-300);
}

/* Profile
------------------------------------*/

/* Projects
------------------------------------
.project-item {
  margin-block: 1.875rem 0;
}
.project-item img {
  inline-size: 18.75rem;
}
@media screen and (min-width: 53.75rem) {
  .project-item {
    display: flow-root;
  }
  .project-item img {
    float: inline-start;
    margin-inline-end: 1.25rem;
  }
}
@media screen and (min-width: 40.625rem) and (max-width: 53.688rem) {
  .project-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.25rem;
  }
  .project-item img {
    inline-size: 100%;
  }
}
@media screen and (max-width: 31.25rem) {
  .project-item img {
    inline-size: 100%;
    margin-block-end: 0.625rem;
  }
}
*/
/* Work Experience
------------------------------------*/
.work-item {
  margin-block: 1.875rem 0;
}

.work-details p {
  margin: 0;
}

/* Education
------------------------------------*/
.education-item {
  margin-block: 1.875rem 0;
}
.education-item p {
  margin: 0;
}

/* FOOTER-MOBILE FIRST
------------------------------------*/
footer {
  background: var(--color-neutral-900);
  color: var(--color-neutral-300);
  text-align: center; /*mobile default*/
  padding: 0.625rem; /*mobile padding*/
}
.socials {
  list-style-type: none;
  padding: 0;
}
.socials li {
  display: inline-block;
  margin-inline-start: 0.625rem;
}
.socials img {
  inline-size: 2.188rem;
}
.socials img:hover {
  opacity: 0.5;
}
