/*
COLOR PALETTE

Dark green    #3c8453
Sandy beige   #bcaa96
Dark gray     #222222
Light gray    #d3d4d6
Off-white     #f6f6f6
*/

/* GLOBAL STYLES 
------------------------------------*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
  box-sizing: border-box;
  /*font-size: 62.5%; /*set default to 10px*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}
body {
  background: #f6f6f6;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* font-size: 1.5rem; */
  line-height: 1.5rem;
}
h1,
h2,
h3 {
  font-family: "Caveat", cursive;
  /* font-weight: 400;
  margin: 0; */
}
h1 {
  font-size: 1.875rem;
  line-height: 0.85;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 0.9375rem;
}
*/

/* links */
a {
  color: #3c8453;
}
a:hover {
  color: #bcaa96;
  text-decoration: none;
}
footer a {
  color: #bcaa96;
}
footer a:hover {
  color: #3c8453;
}
.btn {
  background: #3c8453;
  color: #f6f6f6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: inline-block;
  padding: 0.38rem;
  letter-spacing: 0.1em;
  line-height: 1;
  border-radius: 5px;
}
.content-wrapper {
  margin: 0 auto;
  padding: 1.875rem;
  max-width: 56.25rem;
}

/* HOME
------------------------------------*/
.home {
  background: url(../images/bg-home-office-studio.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.home .content-wrapper {
  flex: 1 0 auto;
}
.content-bg {
  background: rgb(255 255 255 / 0.9);
  padding: 1.875rem;
}

/* RESUME
------------------------------------*/
.resume header::before {
  background: url(../images/bg-home-office-studio.jpg) center;
  background-size: cover;
  content: "";
  display: block;
  height: 24.438rem;
}
.resume-section {
  margin-bottom: 3.125rem;
}
.resume-section h2 {
  border-bottom: 2px dashed #d3d4d6;
}

/* Profile
------------------------------------*/

/* Projects
------------------------------------*/
.project-item {
  display: flow-root;
  margin: 1.875rem 0;
}
.project-item img {
  width: 18.75rem;
  float: left;
  margin-right: 1.25rem;
}

/* Work Experience
------------------------------------*/
.work-item {
  display: grid;
  grid-template-columns: 18.75rem 1fr;
  column-gap: 1.25rem;
  margin: 1.875rem 0;
}

.work-details p {
  margin: 0;
}
.work-summary p:first-child {
  margin-top: 0;
}

/* Education
------------------------------------*/
.eduction-item {
  margin: 1.875rem 0;
}
.eduction-item p {
  margin: 0;
}

/* FOOTER
------------------------------------*/
footer {
  background: #222;
  color: #d3d4d6;
  display: flex;
  justify-content: space-between;
  padding: 0 1.25rem;
}
.socials {
  list-style-type: none;
  padding: 0;
}
.socials li {
  display: inline-block;
  margin-left: 0.625rem;
}
.socials img {
  width: 2.188rem;
}
.socials img:hover {
  opacity: 0.5;
}
